body {
    background-color: #8eebeb;
}

h1{
    color:blueviolet
}
hr {
    /* background-color: white; */
    border-style: none;
    border-top-style: dotted;
    width: 30%;
    border-color: grey;
    border-width: 6px;
}